<nav>
  <!-- <div class="nav-wrapper container"> -->
    <a href="#" class="brand-logo">Front Of The Class</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Button For Something?</a></li>
    </ul>
  <!-- </div> -->
</nav>

<div class='row'>

<!-- Houston didn't want to remove this until talking to Tatianna -->
<!--================================================================-->
  <!-- Classroom seating -->
  <!-- <div class='col s8'>
    <div class='row'>
      {{#each studentInfo}}
      <div class='col s2 student'>
        <a class="waves-effect waves-light btn">{{this.student_name}}</a>
      </div>
      {{/each}}
    </div>
  </div> -->
<!--================================================================-->

<!-- Classroom seating -->
  <div id="seatingContainer" class='col s8'>


    <div id="whereToPutSeats">
      {{#each studentInfo}}
          <a class='waves-effect waves-light btn studentButtons'>{{this.student_name}}</a>
      {{/each}}
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
      <div class="modal-content">
        <div class="row">
          <!-- Manual Grade Input -->
          <form id="gradeInputForm" class="col s12">
            <div class="row">
              <!-- <h6>Input Grade Manually</h6> -->
            </div>
            <div class="row">
              <div class="input-field col s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Student Name</label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">input</i>
                <input id="gradeInput" type="text" class="validate">
                <label for="gradeInput">Input Grade</label>
              </div>
              <div class="input-field col s3">
                <a id="addGrade" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
            </div>
          </form>

          {{#each studentInfo}}
          <div class="row studentInformation">
            <div class="input-field col s3">
              <h5>{{this.student_name}}</h5>
            </div>
            <div class="input-field col s5">
              <h5 class="hwAssignment">Today's Homework Assignment: </h5>
            </div>
            <div class="input-field col s3">
              <h5 id="student1Grade" class="grade"></h5>
            </div>
          </div>
          {{/each}}

          <!-- Student Information (Grade-wise) -->
          <div class="row studentInformation">
            <div class="input-field col s3">
              <h5>Houston Breedlove</h5>
            </div>
            <div class="input-field col s5">
              <h5 class="hwAssignment">Today's Homework Assignment: </h5>
            </div>
            <div class="input-field col s3">
              <h5 id="student1Grade" class="grade"></h5>
            </div>
          </div>

          <div class="row studentInformation">
            <div class="input-field col s3">
              <h5>Donald Trump</h5>
            </div>
            <div class="input-field col s5">
              <h5 class="hwAssignment">Today's Homework Assignment: </h5>
            </div>
            <div class="input-field col s3">
              <h5 class="grade">A+</h5>
            </div>
          </div>

          <div class="row studentInformation">
            <div class="input-field col s3">
              <h5>Donald Duck</h5>
            </div>
            <div class="input-field col s5">
              <h5 class="hwAssignment">Today's Homework Assignment: </h5>
            </div>
            <div class="input-field col s3">
              <h5 class="grade">A+</h5>
            </div>
          </div>

          <div class="row studentInformation">
            <div class="input-field col s3">
              <h5>Hillary Clinton</h5>
            </div>
            <div class="input-field col s5">
              <h5 class="hwAssignment">Today's Homework Assignment: </h5>
            </div>
            <div class="input-field col s3">
              <h5 class="grade">A+</h5>
            </div>
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

  </div>

  <!-- Sidebar with additional information -->
  <div id='sidebar' class='col s4'>
    <div class='row'>
        <!-- Randomize Button -->
        <a id='randomize' class="waves-effect waves-light btn">Generate Class Seating</a>
    </div>
    <div id='classSpecs' class='row'>
      {{#each ClassInfos}}
        <h5>Class: {{this.class_name}}</h5>
        <h5>Teacher: {{this.teacher_name}}</h5>
        <h5>Grade: {{this.grade}}</h5>
      {{/each}}

      <!-- Modal Trigger -->
      <div class="col s1"></div>
      <a id="modalButton" class="waves-effect waves-light btn col s10" href="#modal1">Assign Grades</a>

    </div>
    <div id='lessonPlan' class='row'>
      <h5>Lesson Plan</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        <a href="https://docs.google.com/document/d/1ZkaDSltDIJukowQPu3S_POeUEWChsMNWEXjJB90SmIM/edit?usp=sharing" target="_blank">Link to Lesson Plan/Class Activity</a>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/classroom.js"></script>
