<div id="assignGradesMobile" class='row'>
  <a id="modalButton2" class="waves-effect waves-light btn col s12" href="#gradesModal">Assign Grades</a>
</div>

<div id="topRow" class="row">
  <div id='sidebar' class='col s12'>
    <div id='classSpecs' class='row'>
      <div class='col s1'></div>
      <div id="classInfoHead" class='col s3'>
        {{#each ClassInfos}}
          <h5>Class: {{this.class_name}}</h5>
          <h5>Teacher: {{this.teacher_name}}</h5>
          <h5>Grade: {{this.grade}}</h5>
        {{/each}}
        <a id="ds3js" href="d3.html" style="color:white">How does your class stack up with national averages?</a><br />
        <button type="submit" id="logout" value="logout" class="btn waves-effect">Logout</button>
      </div>
      <div class='col s3'>
        <a id='randomize' class="waves-effect waves-light btn col s12">Generate Class Seating</a>
      </div>
      <div class='col s3'>
        <a id="modalButton" class="waves-effect waves-light btn col s12" href="#gradesModal">Assign Grades</a>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col s2'></div>
  <div id="seatingContainer" class='col s9'>
    <div id="whereToPutSeats">
      {{#each studentInfo}}
        <div class='col s2 student'>
          <a id="seat" class="waves-effect waves-light btn">{{this.student_name}}</a>
        </div>
      {{/each}}
    </div>

    <div id="gradesModal" class="modal bottom-sheet">
      <div class="modal-content">
        <div class="row">
            {{#each studentInfo}}
              <form id="gradeInputForm" class="col s12" name="grades" action="classroom/update/{{this.id}}?_method=PUT" method="POST">
                <div class="row studentInformation">
                    <div class="input-field col s2">
                        <h6>{{this.student_name}}</h6>
                    </div>
                    <div id="todaysHW" class="input-field col s3">
                        <h6 class="hwAssignment">Today's Homework: {{this.assignment}}</h6>
                    </div>
                    <div class="input-field col s2">
                      <h6 id="student1Grade" class="grade"> {{this.student_grade}}</h6>
                    </div>

                    <div class="input-field col s3">
                      <i id="inputIcon" class="material-icons prefix">input</i>
                      <input id="gradeInput" name="grade" type="text" class="validate">
                      <label for="gradeInput">Input Grade</label>
                    </div>
                    <div class="input-field col s2">
                      <button id="addGrade" type="submit" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></button>
                    </div>
                </div>
              </form>
            {{/each}}
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <div class='col s1'></div>
  </div>
</div>
